/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  color: #222;
}
.center-img {
  display:block;
  margin: auto;
  width: 100%;
  border: 5px solid #555;
}

/* HERO SECTION */
.hero {
  height: 90vh;
  background-image: url("nk.jpg"); /* ADD IMAGE HERE */
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.overlay h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.owner {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.tagline {
  font-size: 1.1rem;
  max-width: 600px;
}

/* SECTIONS */
.section {
  padding: 50px 20px;
  max-width: 1000px;
  margin: auto;
}

.section h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
}

.section p {
  text-align: center;
  font-size: 1.05rem;
}

.light {
  background-color: #f4f4f4;
}

/* SERVICES */
.services {
  list-style: none;
  max-width: 400px;
  margin: auto;
  text-align: center;
}

.services li {
  padding: 10px;
  font-size: 1.1rem;
  border-bottom: 1px solid #ccc;
}

/* CONTACT */
.contact-box {
  max-width: 500px;
  margin: auto;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
}

.contact-box p {
  margin-bottom: 10px;
}

/* FOOTER */
footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 0.9rem;
}

.trust-points {
  max-width: 700px;
  margin: auto;
  list-style: none;
}

.trust-points li {
  background: #ffffff;
  margin-bottom: 10px;
  padding: 12px 15px;
  border-left: 5px solid #0d6efd;
  font-size: 1.05rem;
}


